body{
	margin:0px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.card{
	text-align: center;
	margin-top: 20px;
	border:2px solid black;
	border-radius: 5px;
	width: 40vw;
}
@media screen  and (min-width: 750px) {
	body{
	margin:0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
}